<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AzerothWarsMapCompiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AzerothWarsMapCompiler.Properties.Settings>
            <setting name="Warcraft3OptimizerPath" serializeAs="String">
                <value>WC3Optimizer\VXJWTSOPT.exe</value>
            </setting>
            <setting name="JASSHelperPath" serializeAs="String">
                <value>JassHelper\jasshelper.exe</value>
            </setting>
            <setting name="MPQMasterPath" serializeAs="String">
                <value>MpqEditor\MpqEditor.exe</value>
            </setting>
            <setting name="commonjPath" serializeAs="String">
                <value>common.j</value>
            </setting>
            <setting name="blizzardjPath" serializeAs="String">
                <value>blizzard.j</value>
            </setting>
            <setting name="CompiledMapsPath" serializeAs="String">
                <value>..\compiledMaps\</value>
            </setting>
            <setting name="TemporaryFilePath" serializeAs="String">
                <value>temp\</value>
            </setting>
            <setting name="Warcraft3FilePath" serializeAs="String">
                <value>C:\Program Files (x86)\Warcraft III\_retail_\x86_64\Warcraft III.exe</value>
            </setting>
            <setting name="SourceMapPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceCodePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishedMapName" serializeAs="String">
                <value />
            </setting>
        </AzerothWarsMapCompiler.Properties.Settings>
    </userSettings>
</configuration>